@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@font-face {
    font-family: 'SpecialElite';
    src: url('/fonts/SpecialElite-Regular.ttf') format('truetype');
}

:root {
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 1.5;
  box-sizing: border-box;
}

html, body {
  height: auto;
  min-height: 100vh;
}